.popup__submit-button {
  color: white;
  background-color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2px;
  transition: opacity .5s ease-in;
}

.popup__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .popup__submit-button {
    font-size: 14px;
    line-height: 17px;
  }
}